.slick-prev:before,
.slick-next:before {
  font-size: 35px !important;
  color: black !important;
  opacity: 1.75 !important;
}
.slick-prev {
  left: -58px !important;
}
.slick-next {
  right: -58px !important;
}
.slick-prev:before {
  font-size: 35px !important;
  color: black !important;
  opacity: 1.75 !important;
}
.slick-track {
  margin-top: 50%;
}
@import 'swiper/less';
@import 'swiper/less/navigation';
@import 'swiper/less/pagination';
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev{
  color: white;
}
.swiper-button-next{
  color: white;
}
.swiper-wrapper{
  display: flex;
  align-items: center;
}